<!-- your html code here -->

  <div class="jumbotron jumbotron-fluid my-5">
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-6 mt-5">
              <h2 class=" fw-bolder">The first heading <span class="h2 text-secondary">will catch your eyes</span></h2>


                <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                   Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            </div>
            <div class="col-2 ">
                <img src="../website/assets/img/1.jpg" class="img-fluid float-end rounded-circle mt-5" alt="Bootstrap" width="320" height="320" />
            </div>
          </div>     
    </div> 
  </div>
  <div class="col bg-light border-bottom m-5">       
  </div>