<!-- your html code here -->

<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1 class="fw-semibold">Portfolio</h1>

    
    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</div>
</div>
</div>


<div class="container d-flex justify-content-center my-5">

<div class="row align-items-center">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="text-primary">Project Name</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
               <h4 class="text-primary">Project Name</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="../website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="text-primary">Project Name</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>    
        </div>
  </div>
</div>
<div class="col bg-light border-bottom m-5">       
</div>